@model IEnumerable<Eproject_NCS.Models.Connection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.PlanId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConnectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConnectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConnectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
