@model IEnumerable<Eproject_NCS.Models.ConnectionOrder>

@{
    ViewData["Title"] = "Connection Order List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 headings">Connection Order List</h1>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>

    <div class="bg-light p-4 custom-shadow">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <span class="text-muted">@Html.DisplayNameFor(model => model.First().Total)</span>
                    </th>
                    <th>
                        <span class="text-muted">@Html.DisplayNameFor(model => model.First().Status)</span>
                    </th>
                    <th>
                        <span class="text-muted">@Html.DisplayNameFor(model => model.First().Customer)</span>
                    </th>
                    <th>
                        <span class="text-muted">@Html.DisplayNameFor(model => model.First().Plan)</span>
                    </th>
                    <th>
                        <span class="text-muted">ACTIONS</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plan.PlanId)
                        </td>
                        <td>
                            
                            <form asp-action="ActivateConnection" style="display:inline;">
                                <input type="hidden" value="@item.ConordId" name="ConordId" />
                                <button type="submit" class="btn btn-success btn-sm">Activate</button>
                            </form>
                            <a asp-action="Details" asp-route-id="@item.ConordId" class="btn btn-info btn-sm" title="Details">
                                <i class='fas fa-info-circle'></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.ConordId" class="btn btn-danger btn-sm" title="Delete">
                                <i class='fas fa-trash'></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
